<div class="container-fluid" *ngIf="temp=='1'">

    <div class="row">
        <div class="col-lg-1">
            <img src="assets/images/89_89_L.png" class="logo" alt="logo" routerLink="/CompanyDashboard">
        </div>

        <div class="col-lg-1" style="margin-right: -31px;">
            <div class="dropdown">
                <h6 class=" dropdown-toggle menutext" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-expanded="false">
                    Setup
                </h6>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li class="dropdown-item"><a href="#"></a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item menutext" tabindex="-1">Company</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a class="menuitem" tabindex="-1"
                                    routerLink="/CompanyDashboard">Profile</a></li>
                            <!-- <li class="dropdown-item"><a class="menuitem" routerLink="/CostCenter">Cost Centres</a></li> -->
                            <li class="dropdown-item"><a class="menuitem" routerLink="/Department">Departments</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/Bank">Banks</a></li>
                            <li class="dropdown-item"><a class="menuitem" routerLink="/PayGroup">Pay Group</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-1" style="margin-left: 100px;">
            <img src="assets/images/logout.png" class="logout" (click)="logout()">
        </div>
    </div>
</div>