<div class="container-fluid" style="background-color: white;" >
    <div class="row">
        <div class="col-lg-1"></div>
     <div class="col-lg-2">     
            <img class="logo" src="../../assets/images/logo.png">         
     </div>
     <div class="col-lg-1">
        <p class="text">RF-1</p>
        <p class="data">Revised February 2014</p>
     </div>
     <div class="col-lg-2">
         <p class="republic">Republic of the Philippines <br>
                             PHILIPPINE HEALTH INSURANCE CORPORATION
                             Healthline 441-744 www.philhealth.gov.ph <br>
                             actioncenter@philhealth.gov.ph </p>
     </div>
     <div class="col-lg-3">
         <p class="remitance">Employer's Remmitance Report</p>
     </div>
     <div class="col-lg-3">
         <p class="use">FOR PHILHEALTH USE</p>
     </div>
    </div> <hr>
     <div class="row">
         <div class="col-lg-2"></div>
         <div class="col-lg-2">
          <p>PHILHEALTH NO.</p>
          <P>EMPLOYER NO :</P>
         </div>
         <div class="col-lg-2">
             <input type="box"><br> <br>
             <input type="box">
         </div>
         <div class="col-lg-2">
             <p>Date Received :  <br><br>              
                 By: <br>
             </p>
         </div>
         <div class="col-lg-2">
             <input type="box"> <br> <br>
            <input type="box">
         </div>
     </div>
     <!-- <div class="row">
         <div class="col-lg-1"></div>
         <div class="col-lg-3">
          <p>COMPLETE EMPLOYER NAME <br>
            COMPLETE MAILING ADDRESS <br>
            TELEPHONE NO.  &nbsp; EMAIL ADRESS
         </div>
         <div class="col-lg-3">
            
         </div>
         <div class="col-lg-2">

         </div>
     </div> -->
</div>
