<div class="container-fluid">
    <div class="row" style=" margin-left: 1px; margin-right: 6px;">
        <div class="col-lg-2 " style="border: 2px solid black;">
            <img src="../../assets/images/logo.png" style="width: 50%; height: auto;">
        </div>
        <div class="col-lg-3" style="border: 2px solid black; font-size: 10px;">
            <p>Republic Of The Philippines <br>
                PHILLIPINE HEALTH INSURANCE CORPORATION <br>
                Healthline 441-7444 www.philhealth.gov.ph <br>
                actioncenter@philhealth.gov.ph</p>
        </div>
        <div class="col-lg-3" style="border: 2px solid black;">
            <p style="margin-top: 20px;">EMPLOYER'S REMMITTANCE REPORT</p>
        </div>
        <div class="col-lg-4" style="border-style: dashed;">
            <p style="margin-top: 20px; text-align: center;">FOR PHILHEALTH USE</p>
        </div>
    </div>
    <div class="row" style=" margin-left: 1px; margin-right: 6px;">
        <div class="col-lg-6" style="border: 2px solid black;">
            <p style="margin-top: 10px;">PHILHEALTH NO.
                <input>
            </p>
            <p>EMPLOYER TIN
                &nbsp;
                <input>
            </p>
        </div>
        <div class="col-lg-6" style="border: 2px solid black; border-style: dashed;">
            <p style="margin-top: 10px;">Date Received :
                ___________________

                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Action Taken:__________________________
            </p>
            <p> By:
                ______________________
            </p>
        </div>
    </div>
    <div class="row" style=" margin-left: 1px; margin-right: 6px;">
        <div class="col-lg-6" style="border: 2px solid black;">
            <p>COMPLETE EMPLOYEE NAME &nbsp; &nbsp;
                ____________________________________
            </p>
            <p>COMPLETE MAILING ADDRESS &nbsp; &nbsp;
                _______________________________________
            </p>
            <p>TELEPHONE NO. &nbsp; &nbsp;
                ______________________________________
                EMAIL ADDRESS _____________________
            </p>
        </div>
        <div class="col-lg-2" style="border: 2px solid black;">
            <p>EMPLOYER TYPE
                <br>
                <input type="checkbox"> Private <br>
                <input type="checkbox"> Government <br>
                <input type="checkbox"> Household <br>
            </p>
        </div>
        <div class="col-lg-2" style="border: 2px solid black;">
            <p> REPORT TYPE
                <br>
                <input type="checkbox"> REGULAR RF-1 <br>
                <input type="checkbox">ADDITION TO PREVIOUS RF-1 <br>
                <input type="checkbox"> Household <br>
            </p>
        </div>
        <div class="col-lg-2" style="border: 2px solid black;">
            <p> APPLICABLE PERIOD
                <br> <br>
                _______________________________
            </p>
        </div>
    </div>


    <div class="row" style=" margin-left: 1px; margin-right: 6px;">
        <div class="col-lg-2" style="border: 2px solid black;">
            <p style="font-size: 12px;text-align: center; ">PHILHEALTH IDENTIFICATIONNUMBER</p>
            <p style="font-size: 12px; text-align: center;">(PIN)</p>
            <div class="row" style="border: 2px solid black;">
                <div class="col-lg-12">
                    <p>0 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; 5 &nbsp; 6 &nbsp;
                        7 &nbsp; 8 &nbsp; 9 &nbsp; 10
                    </p>
                    <p>0 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; 5 &nbsp; 6 &nbsp;
                        7 &nbsp; 8 &nbsp; 9 &nbsp; 10
                    </p>
                    <p>0 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; 5 &nbsp; 6 &nbsp;
                        7 &nbsp; 8 &nbsp; 9 &nbsp; 10
                    </p>
                    <p>0 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; 5 &nbsp; 6 &nbsp;
                        7 &nbsp; 8 &nbsp; 9 &nbsp; 10
                    </p>
                    <p>0 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; 5 &nbsp; 6 &nbsp;
                        7 &nbsp; 8 &nbsp; 9 &nbsp; 10
                    </p>
                </div>
            </div>

        </div>
        <div class="col-lg-4" style="border: 2px solid black;">
            <p style="font-size: 12px; text-align: center;">EMPLOYEE/S INFORMATION</p>
            <div class="row" style="font-size: 10px;">
                <div class="col-lg-3" style="border: 2px solid black;">
                    <p>FIRST NAME</p>
                </div>
                <div class="col-lg-3" style="border: 2px solid black;">
                    <p>LAST NAME</p>
                </div>
                <div class="col-lg-3" style="border: 2px solid black;">
                    <p>EXT NAME</p>
                </div>
                <div class="col-lg-3" style="border: 2px solid black;">
                    <p>MIDDLE NAME</p>
                </div>
            </div>
            <div class="row" style="border: 2px solid black; font-size: 10px;">
                <div class="col-lg-3">
                    <p>Intal</p>
                    <p>Intal</p>
                    <p>Intal</p>
                    <p>Intal</p>
                    <p>Intal</p>
                    <p>Intal</p>
                </div>
                <div class="col-lg-3">
                    <p>Maria Cassandra</p>
                    <p>Maria Cassandra</p>
                    <p>Maria Cassandra</p>
                    <p>Maria Cassandra</p>
                    <p>Maria Cassandra</p>
                    <p>Maria Cassandra</p>

                </div>
                <div class="col-lg-3">
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="col-lg-3">
                    <p>Grajo</p>
                    <p>Grajo</p>
                    <p>Grajo</p>
                    <p>Grajo</p>
                    <p>Grajo</p>
                    <p>Grajo</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2" style="border: 2px solid black;">
            <p style="font-size: 10px;">Fill-out this portion only if declared employees/ has not yet been issued
                his/her Pin </p> <br>
                <div class="row" >
                    <div class="col-lg-4" style="font-size:8px;">
                        <p>Date Of Birth</p>
                        <p>07-23-1987</p>
                        <p>07-23-1987</p>
                        <p>07-23-1987</p>
                        <p>07-23-1987</p>
                        <p>07-23-1987</p>
                        <p>07-23-1987</p>
                    </div>
                    <div class="col-lg-4" style="font-size:8px;">
                        <p >Sex(M/F)</p>
                        <p>F</p>
                        <p>F</p>
                        <p>F</p>
                        <p>F</p>
                        <p>F</p>
                        <p>F</p>
                    </div>
                    <div class="col-lg-4" style="font-size:8px;">
                        <p>MonthlySalary Bracket</p>
                        <p>19</p>
                        <p>19</p>
                        <p>19</p>
                        <p>19</p>
                        <p>19</p>
                        <p>19</p>

                    </div>
                </div>
            </div>
        <div class="col-lg-1" style="border: 2px solid black; width:20px;"></div>
        <div class="col-lg-1" style="border: 2px solid black;">
            <p style="font-size: 12px;">NHIP PREMIUM CONTRIBUTION</p>
            <div class="row">
                <div class="col-lg-6">
                   <p>PS</p>
                   <p>375.00</p>
                   <p>375.00</p>
                   <p>375.00</p>
                   <p>375.00</p>
                   <p>375.00</p>
                   <p>375.00</p>
                </div>
                <div class="col-lg-6">
                    <p>ES</p>
                    <p>375.00</p>
                    <p>375.00</p>
                    <p>375.00</p>
                    <p>375.00</p>
                    <p>375.00</p>
                    <p>375.00</p>

                </div>
            </div>
            
        </div>
        <div class="col-lg-2" style="border: 2px solid black;">
            <p style="font-size: 12px;">EMPLOYEE STATUS</p>
        </div>
    </div>

    <div class="row" style=" margin-left: 1px; margin-right: 6px;">
        <div class="col-lg-2" style="border: 2px solid black;">
            <br>
            <p style="margin-left: 20px;">________________</p>
            <p style="font-size: 12px;">Indicate Total Number of Employees Per Page</p>
        </div>
        <div class="col-lg-4" style="border: 2px solid black;">
            <p>ACKNOWLEDGEMENT RECEIPT(PAR/POR/TRANSACTION REFERENCE NO.)</p>
            <tr>
                <th style="font-size: 12px;">APPLICABLE PERIOD</th>
                <th style="font-size: 12px;">REMITTED AMOUNT</th>
                <th style="font-size: 12px;">ACKNOWLEDGEMENT RECEIPT NO.</th>
                <th style="font-size: 12px;">TRANSACTION DATE </th>
                <th style="font-size: 12px;">NO. OF EMPLOYEES</th>
            </tr>
        </div>
        <div class="col-lg-2" style="border: 2px solid black;">
            <p style="font-size: 12px;">SUBTOTAL
                (PS+ES)
            </p> <br>
            <p style="font-size: 12px;">GRAND TOTAL
                (PS+ES)</p>
        </div>
        <div class="col-lg-2" style="border: 2px solid black;">
            <tr style="border: 2px solid black;">
                <th>6,525.00</th>
                <th>6,525.00</th>
            </tr>
            <tr>
                <td>13,050.00</td>
            </tr>
            <tr style="border: 2px solid black;">
                <th>18057.76</th>
                <th>18057.76</th>
            </tr>
            <tr>
                <td>36,115.52</td>
            </tr>
        </div>
        <div class="col-lg-2" style="border: 2px solid black;">
            <p style="font-size: 10px;">PREPARED BY
                _____________________________
            </p>
            <P style="font-size: 10px;">SIGNATURE OVER PRINTED NAME
                ______________________________
            </P>
            <p style="font-size: 10px;"> OFFICIAL DESIGNATION
                _______________________________
            </p>
            <p style="font-size: 10px;">DATE
                _____________________</p>
        </div>
    </div>
    <div class="row" style=" margin-left: 1px; margin-right: 6px;">
        <div class="col-lg-12" style="border: 2px solid black;">
            <p style="font-size: 12px; text-align: center; margin-top: 10px;">UNDER THE PENALTY OF THE LAW ,I HERE BY
                ATTEST THAT THE ABOVE INFORMATION PROVIDED HEREIN ARE TRUE AND CORRECT.</p>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-2">
                    <p>_________________</p>
                    <p style="font-size: 10px; padding-left: 10px;">Signature over printed name </p>
                </div>
                <div class="col-lg-2">
                    <p>_________________</p>
                    <p style="font-size: 10px; padding-left: 10px;">Official Designation </p>
                </div>
                <div class="col-lg-2">
                    <p>_________________</p>
                    <p style="font-size: 10px; padding-left: 40px;">Date</p>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p style="text-align: center; font-size: 12px;">PLEASE READ INSTRUCTIONS (FOR EACH NUMBERED BOX) AT THE BACK
                BEFORE ACCOMPLISHING THIS FORM </p>
        </div>
    </div>





</div>