<div class="container-fluid">
    <div class="container" style="background-color: white;">
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2">
                <label>HQP-PFF-053</label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <img src="../../assets/images/m11mcrf.PNG">
            </div>
            <div class="col-lg-5">
                <h2>MEMEBER'S CONTRIBUTION<BR> REMITTANCE FORM(MCRF)</h2>
            </div>
            <div class="col-lg-5">
                <div class="w3-card-4">
                    <header class="w3-container bgcolor">
                        <h6>Pag-IBIG EMPLOYER'S ID NUMBER</h6>
                    </header>
                    <div class="w3-container numpadding">
                        209754750003
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-5">
                <h6 class="numpadding">NOTE: PLEASE READ INSTRUCTIONS AT THE BACH</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <table style="width:100%">
                    <tr>
                        <th colspan="5">EMPLOYER/BUSSINESS NAME</th>
                    </tr>
                    <tr>
                        <td colspan="5">TalentUS Inc</td>
                    </tr>
                    <tr>
                        <th>EMPLOYER/BUSSINESS ADDRESS <br>Unit/Room No. Floor</th>
                        <th>Building Name</th>
                        <th>Lot No,Block No,Phase No,House No</th>
                        <th colspan="2">Street Name</th>
                    </tr>
                    <tr>
                        <td>5F Phinma Plaza, 39 Phinma Dr</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Subdivision</th>
                        <th>Barangay</th>
                        <th>Municipality City</th>
                        <th>Provision/Sate/Country(if abroad)</th>
                        <th>Zipcode</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1210</td>
                    </tr>
                </table>
                <table style="width:100%">
                    <tr>
                        <th>Pag-IBIG MD No/RTN</th>
                        <th>ACCOUNT NO</th>
                        <th>MEMBERSHIP PROGRAM</th>
                        <th colspan="4">NAME OF MEMBERS</th>
                        <th>PERIOD CCVERED</th>
                        <th>MONTHLY COMPENSATION</th>
                        <th colspan="3">MEMBERSHIP CONTRIBUTION</th>
                        <th>REMARKS</th>
                    </tr>
                    <tr aria-rowspan="2">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Name Ext(jr,Mr,etc)</th>
                        <th>Middle Name</th>
                        <th></th>
                        <th></th>
                        <th>EE SHARE</th>
                        <th>ER SHARE</th>
                        <th>TOTAL</th>
                        <th>REMARKS</th>
                    <tr>
                    </tr>
                    <tr>
                        <td>121122212689</td>
                        <td>ACCOUNT NO</td>
                        <td>MEMBERSHIP PROGRAM</td>
                        <td>Ancheta</td>
                        <td>Abigaile</td>
                        <td></td>
                        <td>Gatdulae</td>
                        <td>01 2021</td>
                        <td>80000.00</td>
                        <td>100.00</td>
                        <td>100.00</td>
                        <td>200.00</td>
                        <td>REMARKS</td>
                    </tr>
                    <tr>
                        <td>121122212689</td>
                        <td>ACCOUNT NO</td>
                        <td>MEMBERSHIP PROGRAM</td>
                        <td>Ancheta</td>
                        <td>Abigaile</td>
                        <td></td>
                        <td>Gatdulae</td>
                        <td>01 2021</td>
                        <td>80000.00</td>
                        <td>100.00</td>
                        <td>100.00</td>
                        <td>200.00</td>
                        <td>REMARKS</td>
                    </tr>
                    <tr>
                        <td>121122212689</td>
                        <td>ACCOUNT NO</td>
                        <td>MEMBERSHIP PROGRAM</td>
                        <td>Ancheta</td>
                        <td>Abigaile</td>
                        <td></td>
                        <td>Gatdulae</td>
                        <td>01 2021</td>
                        <td>80000.00</td>
                        <td>100.00</td>
                        <td>100.00</td>
                        <td>200.00</td>
                        <td>REMARKS</td>
                    </tr>

                    <tr>
                        <th colspan="9">TOTAL FOR THIS PAGE</th>
                        <th>2900.00</th>
                        <th>2900.00</th>
                        <th colspan="2">5800.00</th>
                    </tr>
                    <tr>
                        <th colspan="9">GRAND TOTAL(IF LAST PAGE)</th>
                        <th>2900.00</th>
                        <th>2900.00</th>
                        <th colspan="2">5800.00</th>
                    </tr>
                </table>
                <table style="width:100%">
                    <tr>
                        <th colspan="3" class="align" style="background-color: GREY;">EMPLOYER CERTIFICATION</th>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div>
                                <p class="numpadding">
                                    I hearby certify under pain of perjury that the Information given and all statements
                                    made
                                    herein are true and correct to the best of my knowledge and belief. In futurecertify
                                    that my
                                    signature appearing herein are genuine and authentic.
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td  class="align">
                            Lovely Cabalfin<br>
                            _____________________________<br>
                            HEAD OF OFFICE OR AUTHORISED REPRESENTATIVE<BR>
                                (Signature over Printed Name)
                        </td>
                        <td  class="align">
                            Admin Manager<br>
                            _____________________________<br>
                            DESIGNATION/POSITION
                        </td>
                        <td  class="align">
                            <br>
                            _____________________________<br>
                            DATE
                        </td>
                    </tr>
                </table>
                <P style="font-weight: 500; text-align: center;">THIS FROM MAY BE REPRODUCED .NOT FOR SALE
                <BR>
            </div>
        </div>
    </div>
</div>
<br>