<div class="Container-fluid">
    <div class="container" style="background-color: white;">
        <div class="row">
            <div class="col-lg-2">
                <img src="../../assets/images/R1-A.PNG"><BR>
                COV - 01229(12-2015)
            </div>
            <div class="col-lg-8">
                <p class="heading" style="padding: 0px;">Republic of the Philippines</p>
                <p class="heading1" style="padding: 0px;">SOCIAL SECURITY SYSTEM</p>
                <p class="heading2" style="padding: 0px;">EMPLOYMENT REPORT</p>
            </div>
            <div class="col-lg-2"></div>
        </div>


        <div class="row">

            <div class="col-lg-12">
                <label style="padding-left: 122px; padding-right: 122px; border: 3px solid black;">THIS FORM MAY BE
                    REPRODUCED AND IS NOT FOR SALE. THIS CAN ALSO BE DOWNLOADED THRU THE SSS
                    WEBSITE AT www.sss.govt.ph.</label>
                <label>PLEASE READ THE INSTRUCTION AT THE BACK BEFORE FILLING OUT THE FORM.PRINT ALL INFORMATION IN
                    CAPITAL LETTERS
                    AND USE BLACK INK ONLY
                </label>
                <label style="padding-left: 400px; padding-right: 417px; border: 3px solid black;">PART-1 TO BR FILLED
                    OUT BY THE EMPLOYER</label>
            </div>
        </div>

        <div class="row" style=" margin-left: 1px; margin-right: 6px;">

            <div class="col-lg-2" style="border: 2px solid black; ">
                <label>EMPLOYER ID NUMBER</label><br>
                <input>
            </div>
            <div class="col-lg-4" style="border: 2px solid black;">
                <label>EMPLOYER NAME</label><br>
                <input>
            </div>
            <div class="col-lg-3" style="border: 2px solid black;">
                <label>TYPE OF EMPLOYER</label><br>
                <input type="checkbox" style="margin-bottom: 20px;">&nbsp;Business &nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox">&nbsp;Household
            </div>
            <div class="col-lg-3" style="border: 2px solid black;">
                <label>TYPE OF REPORT</label><br>
                <input type="checkbox">&nbsp;Initial &nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox">&nbsp;Subsequent
            </div>

        </div>



        <div class="row" style=" margin-left: 1px; margin-right: 6px;">

            <div class="col-lg-10" style="border: 2px solid black; ">
                <label>ADDRESS</label><p style="font-size: 7px;">  (RM./FLIRIUNIT NO. & BLDG. NAME)&nbsp;IHOUSEILOT & BLK NO I
                    &nbsp;(STREET NAME)&nbsp;(SUBDIVISION)&nbsp;(BARANGAYANSTRICT/LOCAL/TY)&nbsp;(CITY/MUNICIPALITY)&nbsp;(PROVINCE)
                (RM./FLIRIUNIT NO. & BLDG. NAME)&nbsp;IHOUSEILOT & BLK NO I
                &nbsp;(STREET NAME)&nbsp;(SUBDIVISION)&nbsp;(BARANGAYANSTRICT/LOCAL/TY)&nbsp;(CITY/MUNICIPALITY)&nbsp;(PROVINCE)</p>
                <br>
                <input style="margin-bottom: 10px;">
            </div>
            <div class="col-lg-2" style="border: 2px solid black;">
                <label>ZIPCODE</label><br>
                <input style="margin-bottom: 10px;">
            </div>
        </div>

        <div class="row" style=" margin-left: 1px; margin-right: 6px;">

            <div class="col-lg-10" style="border: 2px solid black; ">
                <label>FOREIGN ADDRESS (IF APPLICABLE)</label>
                <input style="margin-bottom: 10px;">
            </div>
            <div class="col-lg-2" style="border: 2px solid black;">
                <label>COUNTRY</label>
                <input style="margin-bottom: 10px;">
            </div>
        </div>


        <div class="row" style=" margin-left: 1px; margin-right: 6px;">

            <div class="col-lg-2" style="border: 2px solid black; ">
                <label>TELEPHONE NO.(AREA CODE.TEL NO)</label><br>
                <input>
            </div>
            <div class="col-lg-2" style="border: 2px solid black;">
                <label>MOBILEICELLPHONE NUMBER</label><br>
                <input>
            </div>
            <div class="col-lg-2" style="border: 2px solid black;">
                <label>E-MAIL ADDRESS</label><br>
                <input> </div>
            <div class="col-lg-4" style="border: 2px solid black;">
                <label>WEBSITE it ANY</label><br>
                <input> </div>
            <div class="col-lg-2" style="border: 2px solid black;">
                <label>TAX IDENTIFICATIONNUMBER</label><br>
                <input type="checkbox">&nbsp;Initial &nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox">&nbsp;Subsequent
            </div>

        </div>
























        <br> <br> <br> <br>
        <P>
            INSTRUCTIONS<BR><BR>
            1.Fill out this form in two (2) copies. <br>
            2. Fill out the appropriate boxes for the Type of Employer, as follows:<br>
            a. For business employer- correct employer ID number, business name, business address (local and
            foreign, if applicable), <br>
            telephone number, mobile/cellphone number, e-mail address, website, andbusiness TIN as registered with
            the SSS in Employer <br>
            Registration Form (SS Form R-1) <br>
            b. For household employer- correct household employer ID number, household employer name, home address,
            telephone number, <br>
            mobile/cellphone number, e-mail address, and personal TIN, <br>
            if any,as registered with the SSS in Employer Registration Form (SS Form R-1) <br>
            3.Always indicate "N/A" or "Not Applicable", if the required data is not applicable. <br>
            4.Always affix initials on erasures on this form. <br>
            5.Write "Nothing Follows" immediately after the last entry on reported employee.6.The owner of a single
            proprietorship business is disqualified to be reported as an employee thereof. However, the owner may
            register as a self-employed member, provided, he/sheis not over sixty (60) years old. <br>
            7. The signatory in this form should be one of the authorized signatories in the current SS Form L-501.
        </P>


        <label style="padding-left: 10px;  border: 3px solid black;">WARNING<BR><BR>
            MISREPRESENTATION OF THE TRUE DATE OF EMPLOYMENT, MONTHLY EARNINGS, OR OTHER DATA OF EMPLOYEES IS
            PUNISHABLE UNDER THE PENAL PROVISIONOF THE SS LAW
        </label>
    </div>


</div>