<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-4">
                    <a href="" class="Heading fontheading">M1-EXCEL</a>
                </div>
            </div>
            <hr>
            <div class="row FilterClass ">
                <div class="col-lg-2"></div>
                   <div class="col-lg-2">
                      <p> Select Start Month & Year</p>
                   </div>
                   <div class="col-lg-2">
                       <select name="cars" id="Month" class="form-control" [(ngModel)]="month" >
                           <option value="Select">Select</option>
                           <option value="1">January</option>
                           <option value="2">February</option>
                           <option value="3">March</option>
                           <option value="4">April</option>
                           <option value="5">May</option>
                           <option value="6">June</option>
                           <option value="7">July</option>
                           <option value="8">August</option>
                           <option value="9">September</option>
                           <option value="10">October</option>
                           <option value="11">November</option>
                           <option value="12">December</option>                       
                         </select>
                   </div>
                   <div class="col-lg-2">
                       <select name="cars" id="Month" class="form-control" [(ngModel)]="year">
                           <!-- <option value="Select">Select</option> -->
                           <option value="2022">2022</option>
                           <option value="2021">2021</option>
                           <option value="2020">2020</option>                                          
                         </select>
                   </div>            
               </div><br> 
            <!-- <div class="row FilterClass fontheading">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                    <p>Signatory Person</p>
                </div>
                <div class="col-lg-2">
                    <select name="cars" id="Month" class="form-control">
                        <option value="Select">Select</option>
                        <option value="Admin">Admin</option>
                        <option value="HR">HR</option>                 
                        <option value="Finance">Finance</option>                                          
                      </select>
                </div>
            </div> <br> -->
            <div>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="generate" data-toggle="collapse" data-target="#demo" (click)="showpdf()">GENERATE</button>
                    </div>
                </div>
            </div>
            <br>

            <div class="container-fluid" id="demo" class="collapse">
                <div class="row">
                    <div class="col-lg-2">
                        <P>Employer ID: </P>
                    </div>
                    <div class="col-lg-2">
                        <h6>{{companyid}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <P>Employer Name: </P>
                    </div>
                    <div class="col-lg-2">
                        <h6>{{companyname}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <P>Address: </P>
                    </div>
                    <div class="col-lg-6">
                        <h6>{{Address}}</h6>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2">
                        <button class="form-control button" (click)="exportexcel()">EXPORT TO EXCEL</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered fonttxt">
                            <thead>
                                <tr class="newFont">
                                    <th class="SelectData"><input type="checkbox" (click)="selectALL(true)">&nbsp; Select</th>
                                    <th>Pag-IBIG ID/RTN</th>
                                    <th>ACCOUNT NO. </th>
                                    <th>MEMBERSHIP PROGRAM</th>
                                    <th>LAST NAME</th>
                                    <th>FIRST NAME</th>
                                    <th>PERCOV</th>
                                    <th>EE SHARE</th>
                                    <th>ER SHARE</th>
                                    <th>REMARKS</th>
                                </tr>
                                <tr *ngFor="let item of uniquelist">
                                    <td><input type="checkbox" ></td>
                                    <td>{{item.pagiBig_ID}}</td>
                                    <td>{{item.pagiBigAccountNo}}</td>
                                    <td>{{item.pagibigMembership}}</td>
                                   
                                    <td>{{item.lastName}}</td>
                                    <td>{{item.staffname}}</td>
                                    <td>{{item.employeeMonth}} {{item.emplyeeYear}} </td>
                                    <td>{{item.monthlyPagibigRate/2}}</td>
                                    <td>{{item.monthlyPagibigRate/2}}</td>
                                   <td>{{item.pagibigRemarks}}</td>
    
                                </tr>

                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>